@model App3.ViewModel.IncomeViewModel

    @{
        //Layout = "~/Views/Income/Layout/_Layout.cshtml";
        Layout = "~/Views/Layout/_Layout.cshtml";

       
    }

    <div class="row justify-content-center">
        <div class="col-md-12 align-self-center">
            <div class="card border-dark mt-2 mb-3 rounded">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="AddIncome" asp-controller="Income">Invoice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="IncomeDetails" asp-controller="Income">Income Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" asp-action="CreateIncome" asp-controller="Income" method="post">
                        <div class="row g-2">
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="InvoiceNumber">Invoice</label>
                                <input type="text" class="form-control" asp-for="InvoiceNumber" readonly="readonly" style="background-color: lightgray;">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="ClientName">Client Name</label>
                                <select id="@Model.ClientNameList" asp-for="ClientName"
                                        asp-items="@(new SelectList(Model.ClientNameList, nameof(Client.ClientName),nameof(Client.ClientName)))"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="ProjectName">Project Name</label>
                                <select id="@Model.ProjectNameList" asp-for="ProjectName" asp-items="@(new SelectList(Model.ProjectNameList, nameof(Projects.ProjectName),nameof(Projects.ProjectName)))" class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="AmountRecieved">Amount</label>
                                <input type="number" class="form-control" asp-for="AmountRecieved">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="Tax">Tax</label>
                                <input type="number" class="form-control" asp-for="Tax">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="AmountRecievedDate">DueDate</label>
                                <input type="date" class="form-control" asp-format="{0:dd/MM/yyyy}" asp-for="AmountRecievedDate">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" asp-for="AmountRecivedBy">AuthorizedBy</label>
                                <input type="text" class="form-control" asp-for="AmountRecivedBy">
                            </div>
                            <div class="form-group col-md-6">     
                                <label class="form-label" asp-for="File">Attach Files</label>
                                <input type="file" class="form-control" asp-for="File">                                   
                            </div>
                        </div>
                        <div class="form-group col-md-6 mt-3">
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>